<div class="home-container">
  <h1>{{ portalName }}</h1>

  <p>This portal helps students explore courses, manage their profiles.</p>

  <div class="stats">
    <div class="card">
      <h3>Courses Available</h3>
      <p>{{ courses.length }}</p>
    </div>

    <div class="card">
      <h3>Enrolled</h3>
      <p>3</p>
    </div>

    <div class="card">
      <h3>GPA</h3>
      <p>3.8</p>
    </div>
  </div>

  <br />

  <button [disabled]="!isPortalActive" (click)="onEnrollClick()">
    Enroll Now
  </button>

  <p>{{ message }}</p>

  <br />

  <input type="text" placeholder="Search Course" [(ngModel)]="searchTerm" />

  <p>Searching for: {{ searchTerm }}</p>
</div>
<hr />

<h2>Available Courses</h2>

@for (course of courses; track course.id) {
  <app-course-card [course]="course" (enroll)="onCourseEnroll($event)">
  </app-course-card>
}
